<%= form_with url: ai_annotations_path, method: :post, class: "ai-annotation-form" do %>
  <div class="text-field">
    <label>Text</label>
    <%= text_area_tag :text,  @text, required: true, rows: 15, placeholder: "Write or paste text here" %>
  </div>

  <div class="prompt-field">
    <label>Prompt</label>
    <%= text_area_tag :prompt, @prompt, required: true, rows: 3, placeholder: "Order how to annotate the text" %>
  </div>

  <div class="submit-field">
    <%= submit_tag "Annotate", disabled: true, class: "button" %>
  </div>
<% end %>

<%= javascript_import_module_tag 'initFormValidation' %>
