<%# When post with turbo, TextAE events does not work correctly on redirected page. %>
<%# To fix this problem, turning off turbo. %>
<%= form_with url: ai_annotations_path, method: :post, data: { turbo: false }, class: "ai-annotation-form" do |f| %>
  <div class="text-field">
    <label>Text</label>
    <%= f.textarea :text, required: true, rows: 15, placeholder: "Write or paste text here" %>
  </div>

  <div class="prompt-field">
    <label>Prompt</label>
    <%= f.textarea :prompt, required: true, rows: 3, placeholder: "Order how to annotate the text" %>
  </div>

  <div class="submit-field">
    <%= f.submit "Annotate", disabled: true, class: "button" %>
  </div>
<% end %>

<%= javascript_import_module_tag 'initFormValidation' %>
