<div class="textae-container">
  <div id="ai-textae-editor" mode="edit">
    <%= @ai_annotation.content %>
  </div>
</div>

<%= form_with model: @ai_annotation, url: ai_annotation_path(@ai_annotation.uuid), class: "ai-annotation-form" do |f| %>
  <div class="prompt-field">
    <%= f.textarea :prompt, required: true, rows: 3, placeholder: "Order how to annotate the text" %>
  </div>

  <%= f.hidden_field :content, id: 'textae-annotation' %>

  <div class="submit-field">
    <%= f.submit "Annotate", disabled: true, class: "button" %>
  </div>
<% end %>

<%= javascript_import_module_tag 'initFormValidation' %>
<%= javascript_import_module_tag 'setupTextAE' %>
